<article>
    <h4 style="text-align: center;">Forma za promenu lozinke</h4>
    <form class="form-container" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid 
        && passwordOldVar.value == currentPassword && passwordNewVar.value == passwordRepeatedVar.value && changePassword(registerForm)">
        <p>
            <label>Stara lozinka</label>
            <input type="password" name="passwordOld" #passwordOldVar ngModel required>
            <span [hidden]="!(registerForm.submitted && passwordOldVar.value != currentPassword)">
                <small style="color: var(--warn);">Morate tačno uneti staru lozinku.</small>
            </span>
        </p>
        <p>
            <label>Nova lozinka</label>
            <input type="password" name="passwordNew" #passwordNewVar="ngModel" [(ngModel)]="newPassword" required
                pattern="^(?=[a-zA-Z0-9@%+\\/'!#$^?:.(){}[\]~`\-_.]{8,12}$)(?=.*[@%+\\/'!#$^?:.(){}[\]~`\-_ .])(?=.*[0-9])(?=.*[A-Z])[a-zA-Z].*">
            <span [hidden]="!(registerForm.submitted && passwordNewVar.invalid)">
                <small style="color: var(--warn);">Lozinka mora počinjati slovom i imati između 8 i 12
                    karaktera, među kojima bar jedno veliko slovo, jedan broj i jedan specijalni karakter.</small>
            </span>
        </p>
        <p>
            <label>Ponovite novu lozinku</label>
            <input type="password" name="passwordRepeated" #passwordRepeatedVar ngModel>
            <span [hidden]="!(registerForm.submitted && passwordNewVar.value != passwordRepeatedVar.value)">
                <small style="color: var(--warn);">Nova lozinka i ponovljena lozinka se ne poklapaju.</small>
            </span>
        </p>
        <p style="text-align: center;">
            <button type="submit" [disabled]="">Potvrdi izmene</button>
        </p>
    </form>
</article>