<div *ngIf="!errorFetchingData">
    <div *ngIf="newUser != null; else loading">
        <article>
            <h4 style="text-align: center;">Profil korisnika {{user.firstName + ' ' + user.lastName}} </h4>
            <p>
                <img alt="avatar of user {{user.username}}" src='{{avatarUri}}'
                    class="profile-page" />
            </p>
            <form class="form-container" #registerForm="ngForm"
                (ngSubmit)="registerForm.form.valid && updateUserData()">
                <p>
                    <label>Korisničko ime</label>
                    <input type="text" [disabled]="!isEditable.checked" editable="false" name="username"
                        #usernameVar="ngModel" [(ngModel)]="newUser.username" required>
                    <span [hidden]="!(registerForm.submitted && usernameVar.invalid)">
                        <small style="color: var(--warn);">Korisničko ime je obavezno.</small>
                    </span>
                </p>
                <p>
                    <label>Lozinka</label>
                    <input type="password" name="password" #passwordVar="ngModel" [(ngModel)]="newUser.password" required [disabled]="!isEditable.checked"
                        pattern="^(?=[a-zA-Z0-9@%+\\/'!#$^?:.(){}[\]~`\-_.]{8,12}$)(?=.*[@%+\\/'!#$^?:.(){}[\]~`\-_ .])(?=.*[0-9])(?=.*[A-Z])[a-zA-Z].*">
                    <span [hidden]="!(registerForm.submitted && passwordVar.invalid)">
                        <small style="color: var(--warn);">Lozinka mora počinjati slovom i imati između 8 i 12
                            karaktera, među kojima bar jedno veliko slovo, jedan broj i jedan specijalni
                            karakter.</small>
                    </span>
                </p>
                <p>
                    <label>Ime</label>
                    <input type="text" [disabled]="!isEditable.checked" name="firstname" #firstnameVar="ngModel"
                        [(ngModel)]="newUser.firstName" required pattern="^[A-Z][a-z]+(\s|-[A-Z][a-z]+)*$">
                    <span [hidden]="!(registerForm.submitted && firstnameVar.invalid)">
                        <small style="color: var(--warn);">Ime je obavezno, svaka reč u imenu mora počinjati velikim
                            slovom.</small>
                    </span>
                </p>
                <p>
                    <label>Prezime</label>
                    <input type="text" [disabled]="!isEditable.checked" name="lastname" #lastnameVar="ngModel"
                        [(ngModel)]="newUser.lastName" required pattern="^[A-Z][a-z]+(\s|-[A-Z][a-z]+)*$">
                    <span [hidden]="!(registerForm.submitted && lastnameVar.invalid)">
                        <small style="color: var(--warn);">Prezime je obavezno, svaka reč u prezimenu mora počinjati
                            velikim
                            slovom.</small>
                    </span>
                </p>
                <p>
                    <label>Adresa</label>
                    <input type="text" [disabled]="!isEditable.checked" name="address" #addressVar="ngModel"
                        [(ngModel)]="newUser.address" required
                        pattern="^[A-Za-z\s0-9]+,\s?([0-9]+[A-Za-z]?|bb|bez broja),\s?[A-Za-z\s]+$">
                    <span [hidden]="!(registerForm.submitted && addressVar.invalid)">
                        <small style="color: var(--warn);">Adresa mora biti u formatu "Ulica, broj, grad".</small>
                    </span>
                </p>
                <p>
                    <label>Telefon</label>
                    <input type="text" [disabled]="!isEditable.checked" name="phone" #phoneVar="ngModel"
                        [(ngModel)]="newUser.phone" required
                        pattern="^(?=(?:.*[0-9]){6})(?!(?:.*[0-9]){16})\+?(\([0-9]+\))?((\/|\s|-)?[0-9]+)*$">
                    <span [hidden]="!(registerForm.submitted && phoneVar.invalid)">
                        <small style="color: var(--warn);">Morate uneti validan broj telefona.</small>
                    </span>
                </p>
                <p>
                    <label>E-mail</label>
                    <input type="email" [disabled]="!isEditable.checked" name="email" #emailVar="ngModel"
                        [(ngModel)]="newUser.email" required>
                    <span [hidden]="!(registerForm.submitted && emailVar.invalid)">
                        <small style="color: var(--warn);">Morate uneti validnu e-mail adresu.</small>
                    </span>
                </p>
                <p *ngIf="this.user.role != 'admin'">
                    <label>Uloga koju korisnik ima:</label>
                    <label for="role">
                        <input type="radio" name="role" [(ngModel)]="newUser.role" value="reader" [disabled]="!isEditable.checked">
                        Čitalac
                    </label>
                    <label for="role">
                        <input type="radio" name="role" [(ngModel)]="newUser.role" value="moderator" [disabled]="!isEditable.checked">
                        Moderator
                    </label>
                </p>
                <p *ngIf="newUser.role == 'reader'">
                    <label>
                        <input type="checkbox" name="registered" [disabled]="!isEditable.checked" [(ngModel)]="newUser.registeredSuccessfully">
                        Korisnik je uspešno registrovan
                    </label>
                    <label>
                        <input type="checkbox" name="blocked" [disabled]="!isEditable.checked" [(ngModel)]="newUser.blocked">
                        Korisnik je blokiran
                    </label>
                </p>
                <div class="form-container" style="text-align: center;">
                    <div [hidden]="!isEditable.checked">
                        <p>
                            <label>Dodajte novu fotografiju</label>
                            <input type="file" accept="image/jpeg,image/png" [ngStyle]="{ display : 'none' }"
                                (input)="onFileSelected($event)" name="pictureUpload" #pictureUploadForClick
                                #pictureUpload="ngModel" ngModel class="form-control">
                        </p>
                        <p class="upload-button">
                            <a (click)="pictureUploadForClick.click()">{{image && image.name || 'Dodajte fotografiju'}}</a>
                            <br>
                        </p>
                        <p>
                            <small>Fotografiju možete dodati u .jpg ili .png formatu.</small>
                        </p>

                    </div>
                    <p>
                        <label>
                            <input type="checkbox" name="isEditable" #isEditable [(ngModel)]="editingEnabled"
                                (change)="resetUser()">
                            Izmeni trenutne podatke?
                        </label>
                    </p>
                    <p>
                        <button type="submit" [disabled]="!isEditable.checked">Potvrdi izmene</button>
                        &nbsp;
                        <button *ngIf="this.user.role != 'admin'" type="button" (click)="deleteUser()" style="background-color: var(--warn)" [disabled]="!isEditable.checked">Obriši korisnika</button>
                    </p>
                </div>
            </form>
        </article>
    </div>
</div>

<ng-template #loading>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>